---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to my page">
	<main>
    <h1>David Maier</h1>
    <p class="subtitle">(he/him)</p>
    <p class="description">Hi, I'm David. I'm a software engineer and I love to build things.</p>
    <p class="description">I've built <a href="https://ai-hooks.dev" target="_blank">ai-hooks.dev</a>, give it a try!</p>
    <a class="discordLogo" href="https://discord.com/users/771460720326869023">
      <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6cc3c481a15a141738_icon_clyde_white_RGB.png" alt="Discord Logo" width="50" height="50">
    </a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
	}
  h1 {
    text-align: center;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
	}
  .description {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    
  }
  .subtitle {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .discordLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
</style>
